<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.edem.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".signup" />
        <activity android:name=".HomeDashboard" />
        <activity android:name=".register_vehicle" />
        <activity android:name=".send_alert" />
        <activity android:name=".car_register" />
        <activity android:name=".chat" />
        <activity android:name=".alerts" />
        <activity android:name=".wrong_park" />
        <activity android:name=".fire" />
        <activity android:name=".light" />
        <activity android:name=".theft" />
        <activity android:name=".learn_more" />
        <activity android:name=".receive_notification"></activity>
    </application>

</manifest>